body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7e7e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  cursor: pointer;
}

.header {
  background-color: #095a7a;
  margin: 0 auto;
  text-align: center;
  color: #ccc;
  height: 80px;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.container {
  margin-top: 110px;
}

.card{
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin-bottom: 2px;
  background-color: white;
}

.card .card-image {
  margin-right: 10px;
}

.card .card-image img {
  max-width: 80px;
  border-radius: 15px;
}

.card .card-image-sm img {
  max-width: 50px;
  border-radius: 15px;
}

.mods p {
  margin-top: 0;
  margin-bottom: 7px;
}
.mods p:first-child {
  margin-top: 0;
}
.mod-intro {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card .card-body .table-description {
  margin-left: 10px;
  border:0;
  display: flex;
  margin-bottom: 5px;
}

.table-description div:first-child{
  width: 40px;
  font-size:0.75rem;
}

.table-description div:last-child{
  font-weight: 400;
  font-size: 0.75rem;
}

.description {
  width: calc(100vw - 50px - 40px - 40px);
  overflow-x: auto;
}

.description p {
  margin: 0!important;
  padding: 0!important;
}

.description ol,ul {
  margin-top: 5px;
  padding-left: 15px;
  margin-bottom: 0;
}

.description table {
  border-spacing: 0;
  max-width: 100%;
  overflow: auto;
  margin-top: 5px;
}

.description table th {
  text-align: left;
}

.description table td {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px;
}

.description table th {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 5px;
}

.description table th:last-child {
  border-right: 1px solid #ccc;
}

.description table td:last-child {
  border-right: 1px solid #ccc;
}

.description table tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.toolbar{
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
}

.toolbar .back {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 22px;
  padding: 5px 10px;
}

.red {
  color: red;
}

.form-control {
  display: flex;
  flex-direction: row;
}
.form-control select,input,button {
  height: 2rem;
}
.form-control select,button {
  width: 25%;
}
.form-control select,input {
  border-radius: 5px;
  padding: 5px;
}
.form-control input {
  width: 50%;
}